/* Existing CSS rules */
body {
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://wiki.teamfortress.com/w/images/2/22/Arena_badlands_mid.png'); /* Use forward slashes and absolute path */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.description {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

header {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items evenly along the main axis */
    margin-top: 0vh;
    background-color: darkslategray;
    padding: 1px;
}

.title {
    display: inline-block;
}

.title-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Increase font size for the title */
    font-weight: bold;
    transition: background-color 0.3s;
}

.title-link:hover {
    background-color: rgba(255, 255, 255, 0);
}

.title-link:focus {
    outline: none;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-button:focus {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightseagreen;
    min-width: 160px;
    z-index: 1000;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* CSS for signin button */
.signin-button {
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.signin-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* CSS for login logo */
.login-logo {
    width: 20px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Add space between logo and text */
}
