.button-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0); /* Add transparency to the container */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20vh;
    display: flex;
    justify-content: center; /* Keep this if you want to center the buttons horizontally */
}

.custom-button {
    color: white;
    border: none;
    padding: 160px 110px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 40px; /* Add some spacing between buttons */
    text-decoration: none; /* Remove underline */
}

/* Customize colors for individual buttons */
.button-blue {
    font-size: 50px;
    background-color: rgb(42, 26, 189);
}

.button-red {
    font-size: 50px;
    background-color: rgb(170, 37, 37);
}

.custom-button:hover {
    filter: brightness(0.8); /* Dim the button on hover */
}
