<div class="flex items-center mb-4">
  <label for="<%= id %>" class="w-32 text-right mr-4"><%= label %></label>
  <input class="text-black flex-grow px-2 py-1 border rounded" type="text" id="<%= id %>" name="<%= id %>" required>
</div>