/* Style the page title */
.page-title {
    text-align: center;
    font-size: 36px;
}

.subtitle {
    text-align: center;
}

/* Style the content */
.content {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    /* height: 100vh; /* Set the height to 100% of the viewport height */
}

.textbox {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 50%; /* Set the width to 80% of the parent container */
    margin: auto; /* Center the textbox horizontally */
}

.textbox p {
    font-size: 16px;
    color: #333;
}
