<h1 class="description">2v2 CUP July 27/28</h1>
<div class="background-page"></div>
<link rel="stylesheet" href="css/2v2cup.css"/>

<div class="a001-content">
    <div class="a001-textbox">
        <h1 class="a001-subtitle">Dolphinrider 2v2 CUP</h1>
        <a class="dolphinrider-cup-poster">
            <img src="images/2v2_poster_july27.png" alt="2v2 MGE Poster" />
        </a>
        <p>Welcome to the fourth 2v2 MGE cup. We will be introducing two divisions for the first time.</p>
        <h3>DIVISIONS</h3>
        <p>Open and Invite</p>
        <p>All teams will sign up in the discord. 
        <p>Division placement is based on previous cup performance, 6s division and MGE notoriety</p>
        <h3>Prize Pool</h3>
        <h5>INVITE</h5>
        <p>1st: 200 keys</p>
        <p>2nd: 80 keys</p>
        <p>3rd: 40 keys</p>
        <h5>OPEN</h5>
        <p>1st: 50 keys</p>
        <p>2nd: 20 keys</p>
        <p>3rd: 10 keys</p>
        <h3>Format</h3>
        <p>- All matches will take place in discord private channels created by my bot</p>
        <p>- For BO1 games, worse seed gets 4 map bans and better seed chooses</p>
        <p>- For BO3 games, teams will follow RGL pick/ban</p>
        <h5>OPEN Division</h5>
        <p>- Double Elim, BO1 games until SEMI FINALS, then BO3</p>
        <p></p>
        <h5>INVITE Division</h5>
        <p>- Double Elim, BO3 3 games</p>
        <h3>Map Pool</h3>
        <h4>Note* Badlands middle replaced with Sunshine middle</h4>
        <p>Sunshine middle</p>
        <p>Process 2nd</p>
        <p>Gullywash 2nd</P>
        <p>Product middle</p>
        <p>Logjam middle</p>
        <p>Process middle</p>
        <p>Granary last</p>
        <p>Reconner middle</p>
    </div>
</div>