<h1 class="description">2v2 CUP July 27/28</h1>
<div class="background-page"></div>
<link rel="stylesheet" href="css/2v2cup.css"/>
<link rel="stylesheet" href="css/header.css"/>

<div class="a001-content">
    <div class="a001-textbox">
        <h1 class="a001-subtitle">Dolphinrider 2v2 CUP</h1>
        <a class="dolphinrider-cup-poster">
            <img src="images/2v2_poster_july27.png" alt="2v2 MGE Poster" />
        </a>
        <p class="article-2v2-desc">'My Gaming Edge (MGE) is the ultimate training ground for 1v1 and 2v2 deathmatches. Some play it to get better, others play it for fun. 
        There are a small group of players that have taken it as their primary gamemode. 
        They are known as the MGE Lords.'</p>
        <p>Welcome to the fourth 2v2 MGE cup. We will be introducing two divisions for the first time. 
        Cup registration will be done in the discord. We look forward to seeing the competition! Bring your best.</p>
        <p>Open Division will take place at 8:30 EST July 27</p>
        <p>Invite Division will take place at 8:30 EST July 28</p>
        <p>Both cups finish same-day (Open Cup starts 8:30 EST and runs until it is finished, same with Invite)</p>
        <a class="join-discord" id="discordInvite" href="https://discord.gg/j6kDYSpYbs">discord.gg</a>
        <h3>Format</h3>
        <p>6s combat classes, 2 scouts, 2 soldiers, 1 demo per team</p>
        <p>1 class swap per player per game</p>
        <p>The cup will be ran through the discord</p>
        <p>The cup is a running schedule, meaning when your first match is finished you wait ~5-15 min for the next round to begin. DO NOT LEAVE until you are sure you are out of the cup.</p>
        <h5>OPEN Division</h5>
        <p>- Double Elim, BO1 games until SEMI FINALS, then BO3</p>
        <p></p>
        <h5>INVITE Division</h5>
        <p>- Double Elim, BO3 3 games</p>
        <p>One class swap per player per team</p>
        <p>For BO1 games, worse seed gets 4 map bans and better seed chooses</p>
        <p>For BO3 games, teams will follow RGL pick/ban</p>
        <h3>Prize Pool</h3>
        <h5>INVITE</h5>
        <p>1st: 200 keys</p>
        <p>2nd: 80 keys</p>
        <p>3rd: 40 keys</p>
        <h5>OPEN</h5>
        <p>1st: 50 keys</p>
        <p>2nd: 20 keys</p>
        <p>3rd: 10 keys</p>
        <h3>Map Pool</h3>
        <h4>Note* Badlands middle replaced with Sunshine middle</h4>
        <p>Sunshine middle</p>
        <p>Process 2nd</p>
        <p>Gullywash 2nd</P>
        <p>Product middle</p>
        <p>Logjam middle</p>
        <p>Process middle</p>
        <p>Granary last</p>
        <p>Reconner middle</p>
    </div>
</div>