<div class="dashboard-container">
    <link rel="stylesheet" href="css/player-page.css" />
    <title>User Profile</title>

    <h1><%= name %></h1>
    <p>This player has not logged into mge.tf</p>
    <div class="logos-container">
        <div class="logo">
            <a href="https://steamcommunity.com/profiles/<%= steamid %>" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/New_Steam_Logo_with_name.jpg" alt="Steam Logo" class="steam-profile-logo">
            </a>
        </div>
        <div class="logo">
            <a href="https://logs.tf/profile/<%= steamid %>" target="_blank">
                <img src="images/logs-tf-logo.png" alt="Logs.tf Logo" class="logs-profile-logo">
            </a>
        </div>
        <div class="logo rgl-logo">
            <a href="https://rgl.gg/Public/PlayerProfile?p=<%= steamid %>&r=40" target="_blank">
                <img src="images/rgl-logo.png" alt="RGL.gg Logo" class="rgl-profile-logo">
            </a>
        </div>
    </div>
</div>

