<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="header.css"/>
    
    <script src="script.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header>
        <div class="left-section">
            <h1 class="title"><a hx-get="/main.ejs" hx-swap="innerHtml" hx-target="#main" class="title-link">mge.tf</a></h1>
            <img class="logo" src="https://steamuserimages-a.akamaihd.net/ugc/1007060479515744416/A644BE9AE601CA24A685C155DDF9E939DF60B612/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
        </div>
        <div class="middle-section">
            <div class="menu">
                <a hx-get="/main.ejs" hx-target="#main" hx-swap="innerHtml">
                    <img class="menu-button home-button" src="https://e7.pngegg.com/pngimages/703/597/png-clipart-logo-house-home-house-angle-building-thumbnail.png">
                </a>
                <a class="menu-button rules-button" hx-get="/rules.ejs" hx-target="#main" hx-swap="innerHtml">Rules</a>
                <div class="dropdown">
                    <a class="menu-button signup-button" hx-get="/signup.ejs" hx-target="#main" hx-swap="innerHtml">Signup ▼</a>
                    <div class="dropdown-content">
                        <a class="dropdown-option" hx-get="/1v1signup.ejs" hx-swap="innerHtml" hx-target="#main">1v1</a>
                        <a class="dropdown-option" hx-get="/2v2signup.ejs" hx-swap="innerHtml" hx-target="#main">2v2</a>
                    </div>
                </div>
                <div class="dropdown">
                    <a class="menu-button league-button" hx-get="/league.ejs" hx-swap="innerHtml" hx-target="#main">League ▼</a>
                    <div class="dropdown-content">
                        <a class="dropdown-option" hx-get="/season.ejs" hx-swap="innerHtml" hx-target="#main">Season 1</a>
                    </div>
                </div>
                <a class="menu-button forum-button" hx-get="/forums.ejs" hx-swap="innerHtml" hx-target="#main">Forums</a>
            </div>
        </div>
        <div class="right-section">
            <!-- Add the signin button with login logo here -->
            <!-- only show if session.user is empty -->
            <% if (!req.session.user) { %>
            <a class="menu-button signin-button" href="/init-openid">
                <img class="steam-logo
                " src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png" alt="Steam Logo">
                LOGIN
            </a>
            <% } %>
            <!-- only show if session.user is not empty -->
            <% if (req.session.user) { %>
            <a class="menu-button signin-button" hx-target="#main" hx-swap="innerHtml" hx-get="/dashboard">
                <img class="steam-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png" alt="Steam Logo">
                PROFILE
            </a>
            <% } %>
        </div>
    </header>
    <div class="strip">
        <a class="connectinfo">Server IP: connect mge.tf</a>
        <a class="discord" id="discordInvite">Join the discord: discord.gg</a>
    </div>

    <!-- Tournaments Box -->
    <div class="tournaments-overlay">
        <div class="tourney-section">
            <h3 class="tourney-title">UPCOMING</h3>
            <div class="tournament-scroll">
                <div class="button-container">
                    <a class="tourney_button" href="article001.php">1v1 Cup (June 29)</a>
                    <a class="tourney_button" href="signup.php">Season 1 Signup (June 30)</a>
                </div>
            </div>
        </div>
        <div class="tourney-section">
            <h3 class="tourney-title">COMPLETED</h3>
            <div class="tournament-scroll">
                <div class="button-container">
                    <a class="tourney_button" id="cup3Button">2v2 CUP 3 Main Event (5/05/24)</a>
                    <a class="tourney_button" id="cup3Button">2v2 CUP 3 Qualifier (5/04/24)</a>
                    <a class="tourney_button" id="cup2Button">2v2 CUP 2 Results (1/28/24)</a>
                    <a class="tourney_button" id="cup1Button">2v2 CUP 1 Results (11/19/23)</a>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <!-- ejs import main.html --> 
        <%- include('main') %>
    </div>
</body>
</html>
