<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="stylesheet" href="css/header.css"/>

    <script src="/js/script.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header>
        <div class="left-section">
            <h1 class="title"><a hx-get="/load?page=main" hx-swap="innerHtml" hx-target="#main" class="title-link">mge.tf</a></h1>
            <img class="logo" src="">
        </div>
        <div class="middle-section">
            <div class="menu">
                <a class="menu-button home-button" hx-get="/load?page=main" hx-target="#main" hx-swap="innerHtml">Home</a>
                <a class="menu-button rules-button" hx-target="#main" hx-swap="innerHTML" hx-get="/load?page=rules">Rules</a>
                <div class="dropdown">
                    <a class="menu-button money-match" hx-get="/users" hx-target="#main" hx-swap="innerHtml">Users</a>
                </div>
                <div class="dropdown">
                    <a class="menu-button league-button" hx-get="/load?page=league" hx-target="#main" hx-swap="innerHtml">League ▼</a>
                    <div class="dropdown-content">
                        <a class="dropdown-option" hx-get="/load?page=league" hx-target="#main" hx-swap="innerHtml">League Home</a>
                        <a class="dropdown-option" hx-get="/load?page=signup" hx-target="#main" hx-swap="innerHtml">Signups</a>
                        <a class="dropdown-option" hx-get="/load?page=season" hx-target="#main" hx-swap="innerHtml">Season 1</a>
                    </div>
                </div>
                <a class="menu-button forum-button" hx-get="/forums" hx-swap="innerHtml" hx-target="#main">Forums</a>
            </div>
        </div>
        <div class="right-section">
            <% if (!session.user) { %>
            <a class="signin-button" href="/init-openid">
                <img class="steam-login-logo" src="../images/signin-thru-steam.png" alt="Steam Logo">
            </a>
            <% } else { %>
            <a class="profile-container" hx-target="#main" hx-swap="innerHtml" hx-get="/player_page/<%= session.user.steamid %>">
                <img class="profile-pic" src="<%= session.user.avatar.small %>" alt="Avatar">
                <% 
                    const maxLength = 15;
                    let displayName = session.user.username;
                    if (displayName.length > maxLength) {
                        displayName = displayName.slice(0, maxLength) + '...';
                    }
                %>
                <span class="logged-in-username"><%= displayName %></span>
            </a>
            <% } %>
        </div>
    </header>
    <div class="strip">
        <a class="connectinfo">Server IP: connect mge.tf</a>
        <a a href="steam://connect/45.76.26.238:27015" class="join-server">connect</a>
        <a class="discordinfo">Join the discord:</a>
        <a class="join-discord" id="discordInvite" href="https://discord.gg/j6kDYSpYbs">discord.gg</a>
    </div>

    <div class="tournaments-overlay">
        <div class="tourney-section">
            <h3 class="tourney-title">UPCOMING</h3>
            <div class="tournament-scroll">
                <div class="button-container">
                    <a class="tourney_button" href="article001.php">1v1 Cup (June 29)</a>
                    <a class="tourney_button" href="signup.php">Season 1 Signup (June 30)</a>
                </div>
            </div>
        </div>
        <div class="tourney-section">
            <h3 class="tourney-title">COMPLETED</h3>
            <div class="tournament-scroll">
                <div class="button-container">
                    <a class="tourney_button" id="cup3Button">2v2 CUP 3 Main Event (5/05/24)</a>
                    <a class="tourney_button" id="cup3Button">2v2 CUP 3 Qualifier (5/04/24)</a>
                    <a class="tourney_button" id="cup2Button">2v2 CUP 2 Results (1/28/24)</a>
                    <a class="tourney_button" id="cup1Button">2v2 CUP 1 Results (11/19/23)</a>
                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <%- include('main', {elo: elo}) %>
    </div>
</body>
</html>