<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/js/map.js" defer></script>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>

<div id="main">
  <%- include('main', {elo: elo}) %>
</div>

</html>