<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css"/>
    <link rel="stylesheet" href="header.css"/>
    <script src="script.js" defer></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header>
        <h1 class="title"><a hx-get="/main.ejs" hx-swap="innerHtml" hx-target="#main" class="title-link">MGE LEAGUE</a></h1>
        <div class="menu">
            <a class="menu-button home-button" hx-get="/main.ejs" hx-target="#main" hx-swap="innerHtml">Home</a>
            <a class="menu-button rules-button" hx-get="/rules.ejs" hx-target="#main" hx-swap="innerHtml">Rules</a>
            <div class="dropdown">
                <a class="menu-button signup-button" href="signup.php">Signup</a>
                <div class="dropdown-content">
                    <a href="1v1signup.php">1v1</a>
                    <a href="2v2signup.php">2v2</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="menu-button league-button" href="league.php">League</a>
                <div class="dropdown-content">
                    <a href="season.php">Season 1</a>
                </div>
            </div>
            <a class="menu-button forum-button" href="forums.php">Forums</a>
            <!-- Add the signin button with login logo here -->
            <a class="menu-button signin-button" href="init-openId.php">
                <img class="steam-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/2048px-Steam_icon_logo.svg.png" alt="Steam Logo">
                LOGIN
            </a>
        </div>
    </header>
    <div id="main">
        <!-- ejs import main.html --> 
        <%- include('main') %>
    </div>
</body>
</html>
