<h1 class="description">LEAGUE</h1>
<div class="background-page"></div>
<link rel="stylesheet" href="css/league.css"/>

<div class="content">
    <div class="textbox">
        <h1 class="subtitle">Welcome to Season 1 of MGE League!</h1>
        <p>This is the first ever TF2 MGE League. 
            The purpose of this League is to introduce a fresh side to competitive play on something that often gets overlooked or brushed off. 
            MGE historically has merely been a training grounds for 6s, but some have risen and taken it as their primary form of gameplay.</p>
        <p>This league is in hopes of displaying those players who have mastered movement, aim positioning and decision making to win DM battles, 
            and also providing an environement for newcomers to improve the fundamental skills of their class.</p>
        <h3>Format</h3>
        <p>The format will be similar to previous leagues where there are multiple divisions, a map pool, a regular season and playoffs.</p>
        <p>Season 1 will run from June 14 to July 30</p>
        <p>Week 1: May 18-24</p>
        <p>Week 2: May 25-31</p>
        <p>Week 3: June 1-7</p>
        <p>Week 4: June 8-14</p>
        <p>Week 5: June 15-21</p>
        <p>PLAYOFS: TBD</p>
        <h3>Maps</h3>
        <p>Week 1: Badlands middle</p>
        <p>Week 2: Product middle</p>
        <p>Week 3: Logjam middle</p>
        <p>Week 4: Process middle</p>
        <p>Week 5: Granary last</p>

    </div>
</div>