<h1 class="description">LEAGUE</h1>

<link rel="stylesheet" href="league.css"/>
<div class="content">
    <!-- Add your text boxes or content here -->
    <div class="textbox">
        <h1 class="subtitle">SEASON 1</h1>
        <p>Season 1 will run from May 18 to June 22</p>
        <p>Week 1: May 18-24</p>
        <p>Week 2: May 25-31</p>
        <p>Week 3: June 1-7</p>
        <p>Week 4: June 8-14</p>
        <p>Week 5: June 15-21</p>
        <p>PLAYOFS: TBD</p>
        <h1>Maps</h1>
        <p>Week 1: Badlands middle</p>
        <p>Week 2: Product middle</p>
        <p>Week 3: Logjam middle</p>
        <p>Week 4: Process middle</p>
        <p>Week 5: Granary last</p>

    </div>
</div>