<div class="mt-4 font-lucida container max-w-lg mx-auto px-2 rounded-md bg-cover bg-[url('/images/paper-background.png')] flex flex-col items-center justify-center text-black">
  <div class="background-page"></div>
  <div class="max-w-lg m-2 mb-4">
    <div class="font-semibold mx-auto">
      <h1 class="text-2xl text-center underline font-bold mb-4">Welcome to Season 1 of the MGE League!</h1>
      <p class="mb-4">We're thrilled to introduce the inaugural TF2 MGE League, a fresh take on competitive play that spotlights an often overlooked aspect of the game. While MGE has traditionally served as a training ground for 6s, it has evolved into a distinct and challenging form of gameplay in its own right.</p>
      <p class="mb-4">Our league aims to showcase players who have mastered the art of movement, aim, positioning, and decision-making in one-on-one and two-on-two battles. Additionally, we're creating an environment where newcomers can hone the fundamental skills of their chosen class.</p>
      <h2 class="font-bold text-lg mt-6 mb-2">Format</h2>
      <p class="mb-4">The league structure will be familiar to veterans of competitive play, featuring multiple divisions, a carefully curated map pool, a regular season, and playoffs.</p>
      <p class="font-semibold mb-2">Season 1 Schedule: August 11 - September (TBD)</p>
      <ul class="list-disc pl-6 mb-4">
        <li>Week 1: August 11-17</li>
        <li>Week 2: August 18-24</li>
        <li>Week 3: August 24-31</li>
        <li>Week 4: September 1-7</li>
        <li>Week 5: September 8-14</li>
        <li>Playoffs: TBD</li>
      </ul>
      <h2 class="font-bold text-lg mt-6 mb-2">Map Pool</h2>
      <ul class="list-disc pl-6">
        <li>Week 1: Badlands middle</li>
        <li>Week 2: Product middle</li>
        <li>Week 3: Logjam middle</li>
        <li>Week 4: Process middle</li>
        <li>Week 5: Granary last</li>
      </ul>
    </div>
  </div>
</div>