<h1 class="description">TF2's first ever MGE league</h1>
<div class="placeholder">
    <a class="elo-title">Rank Name ..................Elo</a>
    <p>1. Neptune......................................1700</p>
    <p>2. Dolphinrider................................1680</p>
    <p>3. tommy.........................................1650</p>
    <p>4. sm0key.......................................1620</p>
    <p>5. tavi0n..........................................1600</p>
    <p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p>
    <p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p>
    <p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p><p>filler</p>
</div>
