<div class="rounded-b-md p-2 bg-black bg-opacity-50 align-middle items-center flex w-full justify-between">
  <div class="relative z-10" x-data="{ open: false, timeout: null }">
    <div id="dropdown-trigger" class="h-full cursor-pointer"
         @click="open = !open"
         @mouseenter.prevent="if (window.innerWidth > 768) { open = true; clearTimeout(timeout); }"
         @mouseleave.prevent="if (window.innerWidth > 768) { timeout = setTimeout(() => open = false, 500); }">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
      </svg>
    </div>
    <%# Dropdown content %>
    <div id="dropdown-content" 
         class="absolute top-full left-0 mt-2 w-48 bg-black bg-opacity-80 shadow-lg rounded-lg py-2" 
         x-show="open" 
         @click.away="open = false"
         @mouseenter.prevent="if (window.innerWidth > 768) { clearTimeout(timeout); }"
         @mouseleave.prevent="if (window.innerWidth > 768) { timeout = setTimeout(() => open = false, 500); }"
         x-transition:enter="transition ease-out duration-200" 
         x-transition:enter-start="opacity-0 transform scale-95" 
         x-transition:enter-end="opacity-100 transform scale-100" 
         x-transition:leave="transition ease-in duration-150" 
         x-transition:leave-start="opacity-100 transform scale-100" 
         x-transition:leave-end="opacity-0 transform scale-95">
      <a href="/" class="block px-4 py-2 text-white hover:bg-gray-800">Home</a>
      <a href="/users" class="block px-4 py-2 text-white hover:bg-gray-800">Users</a>
      <a href="/forums" class="block px-4 py-2 text-white hover:bg-gray-800">Forums</a>
      <a href="/league" class="block px-4 py-2 text-white hover:bg-gray-800">League</a>
      <a href="/signup" class="block px-4 py-2 text-white hover:bg-gray-800">Sign Up</a>
      <% if (session?.user?.isAdmin) { %>
      <a href="/admin" class="block px-4 py-2 text-white hover:bg-gray-800">Admin</a>
      <% } %>
      <%# Add more links as needed %>
    </div>
  </div>

  <div class="flex gap-2 items-center">
    <div class="hidden md:flex gap-2 align-middle items-center text-base">
      <div x-data="{ clicked: false }" id="copy-server-id" class="border rounded-lg border-neutral-400 inline-flex cursor-pointer justify-center items-center select-none align-middle" @click="clicked = true; navigator.clipboard.writeText('connect mge.tf'); setTimeout(() => clicked = false, 200)">
        <div class="px-2 py-1">
          <svg :class="{ 'text-green-500': clicked, 'text-white': !clicked }" class="flex-shrink-0 size-3 md:size-3.5 group-hover:rotate-6 transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect>
            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
          </svg>
        </div>
        <span class="px-2 py-1 border-l">Copy Server</span>
      </div>
      <div class="flex items-center align-middle">
        <a href="steam://connect/45.76.26.238:27015" class="px-2 py-1 border rounded-lg border-neutral-400">
          <div class="flex items-center align-middle">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
            </svg>
            <span class="px-2">Connect</span>
          </div>
        </a>
      </div>
    </div>
    <div class="px-2 py-1 border rounded-lg border-neutral-400">
      <a id="discordInvite" href="https://discord.gg/j6kDYSpYbs">
        <img class="h-6 w-6" src="/images/discord-mark-white.svg" alt="Discord Logo" />
      </a>
    </div>
    <div class="signin-section">
      <% if (!session.user) { %>
      <a class="signin-button" href="/init-openid">
        <img class="w-40 rounded-md" src="../images/signin-thru-steam.png" alt="Steam Logo" />
      </a>
      <% } else { %>
      <div class="flex flex-row-reverse gap-2 align-middle items-center">
        <a class="profile-container" href="/player_page/<%= session.user.steamid %>">
          <img class="profile-pic" src="<%= session.user.avatar.small %>" alt="Avatar" />
          <% const maxLength=15; let displayName=session.user.username; if (displayName.length> maxLength) {
                displayName = displayName.slice(0,
                maxLength) + '...'; } %>
        </a>
        <span class="logged-in-username">
          <%= displayName %>
        </span>
      </div>
      <% } %>
    </div>
  </div>
</div>