<div class="dashboard-container">
    <link rel="stylesheet" href="css/posts.css" />
    <title>Forum Post</title>

    <h1><%= forum.forums_id %></h1>
    <h1><%= forum.steam_username %></h1>
    <h1><%= forum.title %></h1>
    <h1><%= forum.content %></h1>
</div>

