<h1 class="description">RULES</h1>
<div class="content">
    <!-- Add your text boxes or content here -->
    <div class="textbox">
        <h1>2v2 Rules</h1>
        <h2>1.0 General</h2>
        <p>1.1 Class restrictions: 2 scouts, 2 soldiers, 1 demo per team</p>
        <p>1.2 One class swap per player per match. This means each team member on a team can switch one time each.</p>
        <p>1.3 Every match must be demo recorded.</p>
        <p>1.4 Whitelist is 'whitelist.tf/14451'</p>
        <h2>2.0 Matches</h2>
        <p>2.1 Matches for the regular season will be Best of 5</p>
        <p>2.2 Matches can be played on a public MGE server or a private server</p>
        <p>2.3 Match scores must be reported in Match Comms</p>
        <p>2.4 Default match times are Saturday 8:30pm EST. Matches must be played within 1 week of the default match time.</p>
        <h1>1v1 Rules</h1>
        <h2>3.0 General</h2>
        <p>1.1 Class restrictions: 2 scouts, 2 soldiers, 1 demo per team</p>
        <p>1.2 One class swap per player per match. This means each team member on a team can switch one time each.</p>
        <p>1.3 Every match must be demo recorded.</p>
        <p>1.4 Whitelist is 'whitelist.tf/14451'</p>
        <h2>4.0 Matches</h2>
        <p>2.1 Matches for the regular season will be Best of 5</p>
        <p>2.2 Matches can be played on a public MGE server or a private server</p>
        <p>2.3 Match scores must be reported in Match Comms</p>
        <p>2.4 Default match times are Saturday 8:30pm EST. Matches must be played within 1 week of the default match time.</p>
    </div>
</div>
    
<script src="app.js"></script>
