<div class="rules-menu bg-gray-900 text-gray-300 p-6 rounded-lg mb-4">
    <ul>
      <h4 class="text-xl font-bold text-gray-100 mb-4">MGE Code of Conduct</h4>
      <li class="mb-2"><a class="hover:text-gray-100" href="#general">General</a></li>
      <li class="mb-2"><a class="hover:text-gray-100" href="#cheating">Cheating</a></li>
      <li class="mb-2"><a class="hover:text-gray-100" href="#demos">Demos</a></li>
      <li class="mb-2"><a class="hover:text-gray-100" href="#matches">Matches</a></li>
    </ul>
</div>

<div class="rules-content bg-black bg-opacity-80 text-gray-300 p-6 rounded-lg">
    <div class="rules-textbox">
        <h2 id="general" class="text-2xl font-bold text-gray-100 mb-4">1 General Rules</h2>
        <p class="mb-4">We would like to give players a clean slate. We will only mirror permanent bans from other leagues for cheating
            and other extreme cases. These will be handled on a case by case basis, and please contact support in the discord for ban appeals. </p>

        <h4 id="behavior" class="text-xl font-bold text-gray-100 mb-2">1.1 Behavior</h4>
        <p class="mb-2">1.1.1 We do not tolerate toxicity, homophobia, racism, etc and reports will be handled on a case by case basis. However, we will not backlog every single thing a player has said over their existene.</p>
        
        <h2 id="cheating" class="text-2xl font-bold text-gray-100 mb-2">2 Cheating</h2>
        <p class="mb-4">All cases of cheating will result in a permanent ban. Appeals may be submitted via support in the discord for less severe cases.</p>

        <h2 id="demos" class="text-2xl font-bold text-gray-100 mb-2">3 Demos</h2>
        <p class="mb-2">3.1 Every player that plays in a match must be demo recorded and submitted in Match Comms.</p>
        <p class="mb-2">3.2 Players will follow a 1-warning policy: if a player does not submit a demo for a match, they will receive a warning.</p>
        <p class="mb-2">3.3 Missing demo submissions for 2 matches in a row will result in a 1-match suspension, with increasing punishment for continued omissions.</p>
        <p class="mb-2">3.4 After 3 consecutive demo submissions, the player returns to the 1-warning policy.</p>
        <p class="mb-4">3.5 Demos are mandatory for all playoff matches and failure to submit them are grounds for season forfeiture.</p>

        <h2 id="matches" class="text-2xl font-bold text-gray-100 mb-4">4 Matches</h2>
        <p class="mb-2">All matches must follow this whitelist: https://whitelist.tf/.... Teams are restricted to 2 scouts, 2 soldiers and 1 demo per team</p>
        <h4 id="regular_season" class="text-xl font-bold text-gray-100 mb-2">4.1 Regular Season</h4>
        <p class="mb-2">4.1.1 Matches for the regular season will be Best of 5.</p>
        <p class="mb-2">4.1.2 Matches can be played on a public MGE server or a private server.</p>
        <p class="mb-2">4.1.3 Match scores must be reported in Match Comms.</p>
        <p class="mb-4">4.1.4 Default match times are Saturday 8:30pm EST. Matches must be played within 1 week of the default match time.</p>
    
        <h4 id="playoffs" class="text-xl font-bold text-gray-100 mb-2">4.2 Playoffs</h4>

        <h4 id="ringers" class="text-xl font-bold text-gray-100 mb-2">4.3 Ringers</h4>
        <p class="mb-2">4.3.1 A ringer is a player stepping in for a main player who cannot make the match date. A ringer is not a regular substitute, and teams using them as such will be investigated.</p>
        <p class="mb-2">4.3.2 If a team wants to use a ringer they must discuss them in match comms prior to the match date.</p>
        <p class="mb-2">4.3.1 ADefault ringers may be used in matches. A default ringer is any player in the same division or lower division. </p>
        <p class="mb-2">4.3.2 A ringer . </p>

    </div>
</div>

<style>
    .rules-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .rules-menu ul li a {
        color: inherit;
        text-decoration: none;
    }

    .rules-menu ul li a:hover {
        text-decoration: underline;
        color: #f3f4f6;
    }

    .rule-table-indent {
        margin-left: 1rem;
    }
</style>
