<h1 class="description">CHOOSE ONE</h1>

<div class="signup-button-container">
    <a class="custom-button button-blue" href="/signup/1v1signup">1v1</a>
    <a class="custom-button button-red" href="/signup/2v2signup">2v2</a>
</div>W