<h1 class="description">CHOOSE ONE</h1>
<div class="background-page"></div>

<link rel="stylesheet" href="signup.css"/>

<div class="signup-button-container">
    <a class="custom-button button-blue" hx-get="/1v1signup.ejs" hx-swap="innerHtml" hx-target="#main">1v1</a>
    <a class="custom-button button-red" hx-get="/1v1signup.ejs" hx-swap="innerHtml" hx-target="#main">2v2</a>
</div>