.button-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0); /* Add transparency to the container */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20vh;
    display: flex;
    justify-content: center; /* Keep this if you want to center the buttons horizontally */
}

