<h1 class="description">TF2's first ever MGE league</h1>
<div class="button-container">
    <a class="custom-button button-blue" hx-get="/1v1signup.ejs" hx-target="#main" hx-swap="innerHtml">1v1</a>
    <a class="custom-button button-red" hx-get="/2v2signup.ejs" hx-target="#main" hx-swap="innerHtml">2v2</a>
</div>
