body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/badlands-mid.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
    font-family: 'Lucida Console';
}

.description {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}


.overlay {
    display: flex;
    align-items: center;
    /* background-color: darkslategray; */
    padding: 0px;
}

.left-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.middle-section {
    flex: 3;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

.title {
    margin-top: 5px;
    display: inline-block;
}

.title-link {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.title-link:hover {
    background-color: rgba(255, 255, 255, 0);
}

.title-link:focus {
    outline: none;
}

.logo {
    width: 19px;
    height: auto;
    margin-top: 0px;
    vertical-align: middle;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    border-radius: 3px;
    padding: 10px 8px;
    margin-inline: 8px;
    text-decoration: none;
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.5); */
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.menu-button:hover {
    color: rgb(0, 0, 0);
    transition: color 0.15s ease-in-out; 
}

.menu-button:focus {
    outline: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-inline: 10px;
    font-size: 12px;
    margin-top: 9px;
    display: none;
    position: absolute;
    background-color: rgb(34, 68, 68);
    border: 1px solid rgb(255, 255, 255);
    min-width: 120px;
    max-width: 400px; 
    z-index: 1000;
    cursor: pointer;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-option:hover {
    color: black;
}

.signin-button {
    padding: 10px 12px;
}

.signin-button:hover{
    background-color: rgba(0, 0, 0, 0.2); 
}

.steam-login-logo {
    width: 160px;
    height: auto;
    padding: 2px;
    background-color: #777;
    cursor: pointer;
    border-radius: 3px; 
}
.profile-container {
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.profile-container:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.profile-pic {
    margin-right: 10px; 
}

.logged-in-username {
    color: white;
    font-size: 20px;
    text-decoration: none; 
}
.strip {
    width: 100%;
    height: 25px;
    /* background-color: rgb(20,34,34); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.connectinfo{
    color: white;
}
.join-server{
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 50px;
    padding: 0px 3px;
    color: white;
    background-color: green;
    border: 1px solid rgb(0,78,0);
    border-radius: 3px;
}

.discordinfo{
    margin-left: 50px;
    margin-right: 10px;
    color: white;
}
.join-discord{
    text-decoration: none;
    cursor: pointer;
    padding: 0px 5px;
    color: white;
    background-color: rgb(122,113,207);
    border: 1px solid rgb(84,77,145);
    border-radius: 3px;
}
.join-server:hover {
    background-color: rgba(0,78,0,1);
}
.join-discord:hover {
    background-color: rgb(84,77,145,1);
}

.tournaments-container {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tournaments-overlay {
    position: absolute;
    top: 250px; 
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000; 
    background-color: rgb(20, 34, 34);
    padding: 0px;
    border: 1px solid white;
    position: fixed;
}

.tourney-section {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.tourney-title {
    color: white;
    margin: 0px;
    padding: 5px 0px;
    width: 100%;
    text-align: center;
}

.tournament-scroll {
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tourney_button {
    width: 100%;
    color: white;
    background-color: darkslategray;
    
    padding: 7px 0px;
    margin-top: 1px;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    text-decoration: none;
}

.tourney_button:hover {
    filter: brightness(0.8);
}

.background-page {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #292929;
    z-index: -1; 
}