.placeholder {
    background-color: rgba(0,0,0,0.8);
    width: 600px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border: 5px solid rgb(255, 255, 255);
    padding: 10px 10px;
    overflow-y: auto; 
    border-radius: 10px;
    font-weight: none;
}

.placeholder::-webkit-scrollbar {
    width: 10px; 
}

.placeholder::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;   
}

.placeholder::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.elo-title th{
    border-spacing: 20px 0; /* 10px for horizontal, 0 for vertical */
    font-weight: normal;
    text-align: left;
    font-size: 20px;
    color: rgb(0, 255, 242);
}

.elo-row {
    font-weight: none;
    color: rgb(0, 119, 255);
}
.elo-row:hover {
    color: rgb(255, 255, 255);
}

table {
    border-spacing: 20px 0; /* 10px for horizontal, 0 for vertical */
}

table td.name-column {
    white-space: nowrap;        /* Prevents text from wrapping to the next line */
    overflow: hidden;           /* Ensures content that overflows is hidden */
    text-overflow: ellipsis;    /* Adds "..." at the end of the truncated text */
    max-width: 270px;           /* Sets a maximum width for the column; adjust as needed */
}