.post-background {
    border-radius: 20px;
    background-image: url("../images/paper-background.png");
    text-align: left;
    width: 700px; 
    max-height: calc(100vh - 200px); /* Adjust this value as needed */
    overflow-y: auto;
    margin: 100px auto;
}
.post-container {
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 50px; /* Adjust this value as needed */
    width: 500px;
    background-color: rgba(0, 0, 0, 0.3); 
}
.post-profile-container:hover{
    background-color: rgba(0, 0, 0, 0.2); 
    cursor: pointer;
}
.post-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}

.post-username {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
}

.post-title{
    border-bottom: 2px solid white;
    color: #111;
    font-size: 24px;
}
.post-content{
    border-radius: 5px;
    padding: 10px;
    border: 2px solid white;
    color: #333;
    margin-top: 25px;
}

/* Scrollbar Track */
.post-background::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Scrollbar Handle */
.post-background::-webkit-scrollbar-thumb {
    background-color: #999; /* Color of the scrollbar handle */
    border-radius: 5px; /* Radius of the scrollbar handle */
}

/* Scrollbar Handle on hover */
.post-background::-webkit-scrollbar-thumb:hover {
    background-color: #777; /* Color of the scrollbar handle on hover */
}
