.page-title {
    text-align: center;
    font-size: 36px;
}

.main-rules-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.rules-menu {
    width: 200px;
    background-color: #333;
    color: white;
    border: 1px solid white;
    padding: 10px;
    position: fixed;
    top: 250px;
    left: 200px;
}

.rules-menu ul {
    list-style-type: none;
    padding: 0;
}

.rules-menu li {
    margin: 10px 0;
}

.rules-menu a {
    color: white;
    text-decoration: none;
}

.rules-menu a:hover {
    text-decoration: underline;
}

.rule-table-indent {
    padding-left: 20px;
}

.rules-content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.rules-textbox {
    width: 30%;
    max-width: 35%;
    height: 500px; 
    overflow-y: auto;
    background-image: url("../images/paper-background.png");
    border-radius: 5px;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-size: cover;
    background-position: center;
}

.rules-textbox p {
    font-size: 16px;
    color: #333;
}

.rules-textbox::-webkit-scrollbar {
    width: 10px; 
}

.rules-textbox::-webkit-scrollbar-track {
}

.rules-textbox::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 5px;
}

.rules-textbox::-webkit-scrollbar-thumb:hover {
    background: #555;
}
